<form #loginform="ngForm" (ngSubmit)="confirmbook(loginform.value)">
    <div class="card mt-5" style="margin:auto;width: 800px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">BOOKING CONFIRMATION PAGE</h5>
            <hr>
            <div class="form-group col-md-3.5">
              <label for="fullname">Name</label>
              <input type="text" class="form-control" id="fullname" placeholder="Full Name" name="fullname" ngModel>
            </div>
            &nbsp;&nbsp;<div class="form-group col-md-4"> 
              <label for="emailid">Email Address</label>
              <input type="text" class="form-control" id="emailid" placeholder="eg. abc@xyz.com" name="emailid" ngModel>
            </div>
            <div class="form-group col-md-4">
              <label for="phonenumber">Phone Number</label>
              <input type="text" class="form-control" id="phonenumber" placeholder="eg. Phone Number" name="phonenumber" ngModel>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group col-md-3.5">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="Current City" name="city" ngModel>
            </div>
            &nbsp;&nbsp;<div class="form-group col-md-4">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" placeholder="Current State" name="state" ngModel>
              </div>
              <div class="form-group col-md-4">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Country" name="country" ngModel>
              </div>
              <div class="form-group col-md-3.5">
                <label for="noofPassengers">No. of Passengers</label>
                <input type="text" class="form-control" id="noofPassengers" placeholder="No. of Passengers" name="noofPassengers" ngModel>
              </div>
            <div *ngFor="let com of lstflights">
              &nbsp;&nbsp;<div class="form-group col-md-4">
                <label for="flightnumber">Flight Number</label>
                <!-- <input type="text" class="form-control" id="flightnumber" placeholder="Flight Number" name="flightnumber" ngModel> -->
                <input type="text" class="form-control" id ="flightnumber" name="flightnumber" [ngModel]="com.flightnumber" readonly>
              </div>
              <div class="form-group col-md-4">
                <label for="departurecity">Departure City</label>
                <input type="text" class="form-control" id="departurecity" placeholder="Departure City" name="departurecity" [ngModel]="com.departurecity" readonly>
              </div>
              <div class="form-group col-md-3.5">
                <label for="departuredate">Departure Date</label>
                <input type="text" class="form-control" id="departuredate" placeholder="Departure Date" name="departuredate" [ngModel]="com.departuredate" readonly>
              </div>
              <div class="form-group col-md-4">
                <label for="arrivalcity">Arrival City</label>
                <input type="text" class="form-control" id="arrivalcity" placeholder="Arrival City" name="arrivalcity" [ngModel]="com.arrivalcity" readonly>
              </div>
              <div class="form-group col-md-4">
                <label for="amount">Total Fare</label>
                <input type="text" class="form-control" id="amount" placeholder="Amount" name="amount" [ngModel]="com.amount" readonly>
              </div>
              <div class="form-group col-md-3.5">
                <label for="basefare">Base Fare</label>
                <input type="text" class="form-control" id="baseamount" placeholder="Base Fare" name="baseamount" [ngModel]="com.baseamount" readonly>
              </div>
              <div class="form-group col-md-4">
                <label for="amount">Total Taxes</label>
                <input type="text" class="form-control" id="taxes" placeholder="Taxes" name="taxes" [ngModel]="com.taxes" readonly>
              </div>
              <div class="form-group col-md-4">
                <label for="amount">Card Number</label>
                <input type="tel" maxlength="16" pattern="[0-9\s]{13,19}" inputmode="numeric" class="form-control" id="cardnumber" placeholder="Card Number" name="cardnumber" ngModel>
              </div>
              <div class="form-group col-md-3.5">
                <label for="amount">Card Expiry Date</label>
                <input type="date" class="form-control" id="cardexpirydate" placeholder="Card Expiry Date" name="cardexpirydate" ngModel>
              </div>
              <div class="form-group col-md-4">
                <label for="amount">Card CVV</label>
                <input type="tel" maxlength="3" class="form-control" id="cardcvv" placeholder="CVV" name="cardcvv" ngModel>
              </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">CONFIRM BOOKING</button>
    </div>
  </form>
  
  <!-- <div *ngFor="let com of lstflights">
  <input type="text" name="flightnumber" [(ngModel)]="{{com.departurecity}}">
</div>

<form>
  <input type="text" name="email" [ngModel]="UserData.email">
</form>-->

 